---

- name: Ensure gpg exists, for signing keys
  community.general.zypper:
    name: gpg2
    state: present

- name: Ensure Elastic Stack yum repository is configured (SuSE)
  community.general.zypper_repository:
    name: elastic-{{ elasticstack_release }}.x
    description: Elastic Release {{ elasticstack_release }}.x
    repo: "{{ elasticstack_repo_url }}/{{ elasticstack_release }}.x/yum"
    auto_import_keys: true
    enabled: "{{ elasticstack_enable_repos | bool }}"
  when: elasticstack_variant == "elastic"

- name: Ensure Elastic Stack OSS yum repository is configured (SuSE)
  community.general.zypper_repository:
    name: elastic-oss-{{ elasticstack_release }}.x
    description: Elastic OSS Release {{ elasticstack_release }}.x
    repo: "{{ elasticstack_repo_url }}/oss-{{ elasticstack_release }}.x/yum"
    auto_import_keys: true
    enabled: "{{ elasticstack_enable_repos | bool }}"
  when: elasticstack_variant == "oss"
