---
# defaults file for elasticsearch
elasticsearch_enable: true
elasticsearch_ml_enabled: true
elasticsearch_config_backup: false
elasticsearch_manage_yaml: true
elasticsearch_monitoring_enabled: true
elasticsearch_security: true
elasticsearch_bootstrap_pw: PleaseChangeMe
elasticsearch_http_security: true
elasticsearch_http_protocol: http
elasticsearch_datapath: /var/lib/elasticsearch
elasticsearch_create_datapath: false
elasticsearch_logpath: /var/log/elasticsearch
elasticsearch_create_logpath: false
elasticsearch_disable_systemcallfilterchecks: false
elasticsearch_heap: "{{ [[(ansible_memtotal_mb // 1024) // 2, 30] | min, 1] | max }}"
elasticsearch_pamlimits: true
elasticsearch_check_calculation: false
elasticsearch_clustername: elasticsearch
elasticsearch_conf_dir: "/etc/elasticsearch/"
elasticsearch_config_jvm: "jvm.options.j2"
elasticsearch_user: elasticsearch
elasticsearch_group: elasticsearch

# JVM custom parameters
elasticsearch_java_home: ''
elasticsearch_jvm_custom_parameters: ''
elasticsearch_heap_dump_path: "/var/lib/elasticsearch"

elasticsearch_jna_workaround: false

# The following variables are to be used when activating security
# They follow a different naming scheme to show that they are global
# to our set of Elastic Stack related Ansible roles

# elasticstack_ca: First host in the `elasticsearch` group
elasticstack_ca_dir: /opt/es-ca
elasticstack_initial_passwords: /usr/share/elasticsearch/initial_passwords
elasticsearch_initialized_file: "{{ elasticstack_initial_passwords | dirname }}/cluster_initialized"
elasticstack_ca_name: "CN=Elastic Certificate Tool Autogenerated CA"
elasticstack_ca_pass: PleaseChangeMe
elasticstack_ca_validity_period: 1095
elasticsearch_tls_key_passphrase: PleaseChangeMeIndividually
elasticsearch_cert_validity_period: 1095
elasticstack_ca_expiration_buffer: 30
elasticsearch_cert_expiration_buffer: 30
elasticstack_ca_will_expire_soon: false
elasticsearch_cert_will_expire_soon: false

# "global" variables for all roles

elasticstack_release: 8
elasticstack_full_stack: true
elasticstack_variant: elastic
elasticstack_elasticsearch_http_port: 9200
elasticstack_no_log: true
