Alexander Stoll <alexander.stoll@netways.de> <45196568+Crited@users.noreply.github.com>
Daniel Patrick <daniel.patrick@netways.de> <dani.p1991@gmail.com>
Markus Frosch <markus.frosch@netways.de> <markus@lazyfrosch.de>
Nathaniel Donahue <nathaniel.donahue@netways.de> <56820910+Nathaniel-Donahue@users.noreply.github.com>
Patrick Dolinic <patrick.dolinic@netways.de> <71389319+pdolinic@users.noreply.github.com>
Thomas Widhalm <thomas.widhalm@netways.de> <widhalmt@widhalm.or.at>
Thilo Wening <thilo.wening@netways.de> <mkayontour@gmail.com>
