# {{ ansible_managed }}

# specify an alternative path for heap dumps; ensure the directory exists and
# has sufficient space
-XX:HeapDumpPath={{ elasticsearch_heap_dump_path }}

# specify an alternative path for JVM fatal error logs
-XX:ErrorFile={{ elasticsearch_logpath }}/hs_err_pid%p.log

## GC logging
8:-Xloggc:{{ elasticsearch_logpath }}/gc.log
9-:-Xlog:gc*,gc+age=trace,safepoint:file={{ elasticsearch_logpath }}/gc.log:utctime,pid,tags:filecount=32,filesize=64m
