---

- name: Include global role
  ansible.builtin.import_role:
    name: netways.elasticstack.elasticstack

- name: Include OS specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - '{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml'
    - '{{ ansible_os_family }}.yml'

- name: Set common password for common certificates
  ansible.builtin.set_fact:
    kibana_tls_key_passphrase: "{{ elasticstack_cert_pass }}"
  when:
    - elasticstack_cert_pass is defined

- name: Set Elasticsearch hosts if used with other roles
  ansible.builtin.set_fact:
    kibana_elasticsearch_hosts: "{{ groups['elasticsearch'] }}"
  when:
    - kibana_elasticsearch_hosts is undefined
    - groups['elasticsearch'] is defined

- name: Set Elasticsearch hosts to localhost if no other info is available
  ansible.builtin.set_fact:
    kibana_elasticsearch_hosts:
      - localhost
  when:
    - kibana_elasticsearch_hosts is undefined
    - groups['elasticsearch'] is undefined

- name: Construct exact name of Kibana package
  ansible.builtin.set_fact:
    kibana_package: >
      {{
      'kibana' +
      ('-oss' if elasticstack_variant == 'oss' else '') +
      (elasticstack_versionseparator +
      elasticstack_version |
      string if elasticstack_version is defined else '') |
      replace(' ', '') }}

- name: Install Kibana - rpm
  ansible.builtin.package:
    name: "{{ kibana_package }}"
    enablerepo:
      - 'elastic-{% if elasticstack_variant == "oss" %}oss-{% endif %}{{ elasticstack_release }}.x'
  when:
    - ansible_os_family == "RedHat"

- name: Install Kibana - deb
  ansible.builtin.package:
    name: "{{ kibana_package }}"
  when:
    - ansible_os_family == "Debian"

- name: Import security related tasks
  ansible.builtin.import_tasks: kibana-security.yml
  when:
    - elasticstack_full_stack is defined
    - elasticstack_full_stack | bool
    - kibana_security | bool
    - elasticstack_variant == "elastic"
  tags:
    - certificates
    - renew_ca
    - renew_kibana_cert

- name: Configure Kibana
  ansible.builtin.template:
    src: kibana.yml.j2
    dest: /etc/kibana/kibana.yml
    owner: root
    group: root
    mode: 0644
    backup: "{{ kibana_config_backup }}"
  notify:
    - Restart Kibana
  when: kibana_manage_yaml | bool

- name: Start Kibana
  ansible.builtin.service:
    name: kibana
    state: started
    enabled: yes
  when: kibana_enable | bool

# the following is useful when running tests or extra tasks that need to
# have Kibana running. Escape it on Rocky8, because it gets time out with Elastic 8

- name: Wait for Kibana to start
  ansible.builtin.wait_for:
    host: localhost
    port: 5601
  tags: notest
