---
- name: Install Auditbeat
  package:
    name: auditbeat
  when: elastic_version is not defined

- name: Install Auditbeat specific version
  package:
    name: "auditbeat{{ elastic_versionseparator }}{{ elastic_version }}"
  notify:
    - Restart Auditbeat
  when:
    - elastic_version is defined
    - elastic_version != "latest"

- name: Install Auditbeat latest version
  package:
    name: auditbeat
    state: latest
  notify:
    - Restart Auditbeat
  when:
    - elastic_version is defined
    - elastic_version == "latest"

- name: Configure Auditbeat
  template:
    src: auditbeat.yml.j2
    dest: /etc/auditbeat/auditbeat.yml
    owner: root
    group: root
    mode: 0640
  notify:
    - Restart Auditbeat
  tags:
    - configuration
    - auditbeat_configuration
    - beats_configuration

- name: Setup Auditbeat in Elasticsearch
  command: >
    /usr/bin/auditbeat setup --pipelines --index-management &&
    /usr/bin/auditbeat version > /etc/auditbeat/pipeline_created
  run_once: true
  args:
    creates: "/etc/auditbeat/pipeline_created"
  notify:
    - Restart Auditbeat
  when:
    - auditbeat_setup | bool
    - auditbeat_output == "elasticsearch"

- name: Start Auditbeat
  service:
    name: auditbeat
    state: started
    enabled: true
  when: auditbeat_enable | bool
