---

- name: Construct exact name of Auditbeat package
  ansible.builtin.set_fact:
    beats_auditbeat_package: >-
      {{
      'auditbeat' +
      ((elasticstack_versionseparator +
      elasticstack_version |
      string ) if (elasticstack_version is defined and elasticstack_version | length > 0)) |
      replace(' ', '')
      }}
  tags:
    - auditbeat
    - name

- name: Install Auditbeat - rpm - full stack
  ansible.builtin.package:
    name: "{{ beats_auditbeat_package }}"
    enablerepo:
      - 'elastic-{{ elasticstack_release }}.x'
  notify:
    - Restart Auditbeat
  when:
    - ansible_os_family == "RedHat"
    - elasticstack_full_stack | bool
  tags:
    - auditbeat
    - rpm

- name: Install Auditbeat - rpm - standalone
  ansible.builtin.package:
    name: "{{ beats_auditbeat_package }}"
  notify:
    - Restart Auditbeat
  when:
    - ansible_os_family == "RedHat"
    - not elasticstack_full_stack | bool
  tags:
    - auditbeat
    - standalone
    - rpm

- name: Install Auditbeat - deb
  ansible.builtin.package:
    name: "{{ beats_auditbeat_package }}"
  notify:
    - Restart Auditbeat
  when:
    - ansible_os_family == "Debian"
  tags:
    - auditbeat
    - deb

# KICS complains about "latest" package but this is a dedicated update task

- name: Install Auditbeat latest version - rpm - full stack
  ansible.builtin.package:
    name: auditbeat
# kics-scan ignore-line
    state: latest
    enablerepo:
      - "elastic-{{ elasticstack_release }}.x"
  notify:
    - Restart Auditbeat
  when:
    - elasticstack_version is defined
    - elasticstack_version == "latest"
    - ansible_os_family == "RedHat"
    - elasticstack_full_stack | bool
  tags:
    - auditbeat
    - fullstack
    - rpm

- name: Install Auditbeat latest version - rpm - standalone
  ansible.builtin.package:
    name: auditbeat
    state: latest
  notify:
    - Restart Auditbeat
  when:
    - elasticstack_version is defined
    - elasticstack_version == "latest"
    - ansible_os_family == "RedHat"
    - not elasticstack_full_stack | bool
  tags:
    - auditbeat
    - latest
    - rpm

- name: Install Auditbeat latest version - deb
  ansible.builtin.package:
    name: auditbeat
    state: latest
  notify:
    - Restart Auditbeat
  when:
    - elasticstack_version is defined
    - elasticstack_version == "latest"
    - ansible_os_family == "Debian"
  tags:
    - auditbeat
    - latest
    - deb

- name: Configure Auditbeat
  ansible.builtin.template:
    src: auditbeat.yml.j2
    dest: /etc/auditbeat/auditbeat.yml
    owner: root
    group: root
    mode: 0640
  notify:
    - Restart Auditbeat
  tags:
    - configuration
    - beats_auditbeat_configuration
    - beats_configuration

- name: Setup Auditbeat in Elasticsearch
  ansible.builtin.command: >
    /usr/bin/auditbeat setup --pipelines --index-management &&
    /usr/bin/auditbeat version > /etc/auditbeat/pipeline_created
  run_once: true
  args:
    creates: "/etc/auditbeat/pipeline_created"
  notify:
    - Restart Auditbeat
  when:
    - beats_auditbeat_setup | bool
    - beats_auditbeat_output == "elasticsearch"
  tags:
    - auditbeat
    - setup

- name: Start Auditbeat
  ansible.builtin.service:
    name: auditbeat
    state: started
    enabled: true
  when: beats_auditbeat_enable | bool
  tags:
    - auditbeat
    - start
