---

- name: Prepare for whole stack roles if used
  when:
    - elastic_stack_full_stack | bool
  block:
    - name: Enable security if enabled for whole stack
      set_fact:
        beats_security: true
      when:
      - elastic_security | bool
      - elastic_variant != "oss"
      - not elastic_override_beats_tls | bool

    - name: Set elasticsearch_ca variable if not already done by user
      set_fact:
        elasticsearch_ca: "{{ groups['elasticsearch'][0] }}"
      when:
      - beats_security | bool
      - elasticsearch_ca is undefined

    - name: Set beats_ca_dir if whole stack is used
      set_fact:
        beats_ca_dir: "/etc/beats/certs"
      when:
      - elastic_security | bool
      - beats_ca_dir is undefined

# We need it for templating even when security is disabled
# This default corresponds with the default in Elastic-
# independent "CA" Role

- name: Set beats_ca_dir if whole stack is not used
  set_fact:
    beats_ca_dir: "/opt/ca"
  when:
  - beats_ca_dir is undefined
  tags:
    - certificates
    - renew_ca
    - renew_beats_cert

- name: Create directory for logging if file logging is activated
  file:
    path: "{{ beats_logpath }}"
    state: directory
    owner: root
    group: root
    mode: 0750
  when: beats_logging == "file"

- name: Import security tasks
  import_tasks: beats-security.yml
  when:
  - beats_security | bool
  - elastic_stack_full_stack | bool
  - elastic_variant == "elastic"
  tags:
    - certificates
    - renew_ca
    - renew_beats_cert

- name: Import Filebeat tasks
  import_tasks: filebeat.yml
  when: beats_filebeat | bool

- name: Import Auditbeat tasks
  import_tasks: auditbeat.yml
  when: beats_auditbeat | bool

- name: Import Metricbeat tasks
  import_tasks: metricbeat.yml
  when: beats_metricbeat | bool
