---

- name: Include OS specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - '{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml'
    - '{{ ansible_os_family }}.yml'

- name: Update apt cache.
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 600
  changed_when: false
  when: ansible_os_family == 'Debian'

- name: Prepare for whole stack roles if used
  when:
    - elasticstack_full_stack | bool
  block:
    - name: Enable security if enabled for whole stack
      ansible.builtin.set_fact:
        beats_security: true
      when:
        - elasticstack_security | bool
        - elasticstack_variant != "oss"
        - not elasticstack_override_beats_tls | bool

    - name: Set elasticstack_ca variable if not already done by user
      ansible.builtin.set_fact:
        elasticstack_ca: "{{ groups['elasticsearch'][0] }}"
      when:
        - beats_security | bool
        - elasticstack_ca is undefined
        - groups['elasticsearch'] is defined
      tags:
        - certificates
        - renew_ca
        - renew_beats_cert

    - name: Set beats_ca_dir if whole stack is used
      ansible.builtin.set_fact:
        beats_ca_dir: "/etc/beats/certs"
      when:
        - elasticstack_security | bool
        - beats_ca_dir is undefined

# We need it for templating even when security is disabled
# This default corresponds with the default in Elastic-
# independent "CA" Role

- name: Set beats_ca_dir if whole stack is not used
  ansible.builtin.set_fact:
    beats_ca_dir: "/opt/ca"
  when:
    - beats_ca_dir is undefined
  tags:
    - certificates
    - renew_ca
    - renew_beats_cert

- name: Create directory for logging if file logging is activated
  ansible.builtin.file:
    path: "{{ beats_logpath }}"
    state: directory
    owner: root
    group: root
    mode: 0750
  when: beats_logging == "file"

- name: Import security tasks
  ansible.builtin.import_tasks: beats-security.yml
  when:
    - beats_security | bool
    - elasticstack_full_stack | bool
    - elasticstack_variant == "elastic"
  tags:
    - certificates
    - renew_ca
    - renew_beats_cert

- name: Import Filebeat tasks
  ansible.builtin.import_tasks: filebeat.yml
  when: beats_filebeat | bool

- name: Import Auditbeat tasks
  ansible.builtin.import_tasks: auditbeat.yml
  when: beats_auditbeat | bool

- name: Import Metricbeat tasks
  ansible.builtin.import_tasks: metricbeat.yml
  when: beats_metricbeat | bool

# Free up some space to let elsticsearch allocate replica in GitHub Action
- name: Remove cache
  ansible.builtin.command: >
    rm -rf /var/cache/*
  changed_when: false
  when: ansible_virtualization_type == "container" or ansible_virtualization_type == "docker"
