---

- name: Construct exact name of Metricbeat package
  ansible.builtin.set_fact:
    beats_metricbeat_package: >-
      {{
      'metricbeat' +
       ((elasticstack_versionseparator +
      elasticstack_version |
      string ) if (elasticstack_version is defined and elasticstack_version | length > 0)) |
      replace(' ', '')
      }}
  tags:
    - metricbeat
    - name

- name: Install Metricbeat - rpm - full stack
  ansible.builtin.package:
    name: "{{ beats_metricbeat_package }}"
    enablerepo:
      - 'elastic-{{ elasticstack_release }}.x'
  notify:
    - Restart Metricbeat
  when:
    - ansible_os_family == "RedHat"
    - elasticstack_full_stack | bool
  tags:
    - metricbeat
    - fullstack
    - rpm

- name: Install Metricbeat - rpm - standalone
  ansible.builtin.package:
    name: "{{ beats_metricbeat_package }}"
  notify:
    - Restart Metricbeat
  when:
    - ansible_os_family == "RedHat"
    - not elasticstack_full_stack | bool
  tags:
    - metricbeat
    - standalone
    - rpm

- name: Install Metricbeat - deb
  ansible.builtin.package:
    name: "{{ beats_metricbeat_package }}"
  notify:
    - Restart Metricbeat
  when:
    - ansible_os_family == "Debian"
  tags:
    - metricbeat
    - deb

- name: Install Metricbeat latest version - rpm - full stack
  ansible.builtin.package:
    name: metricbeat
    state: latest
    enablerepo:
      - "elastic-{{ elasticstack_release }}.x"
  notify:
    - Restart Metricbeat
  when:
    - elasticstack_version is defined
    - elasticstack_version == "latest"
    - ansible_os_family == "RedHat"
    - elasticstack_full_stack | bool
  tags:
    - metricbeat
    - fullstack
    - rpm

- name: Install Metricbeat latest version - rpm - standalone
  ansible.builtin.package:
    name: metricbeat
    state: latest
  notify:
    - Restart Metricbeat
  when:
    - elasticstack_version is defined
    - elasticstack_version == "latest"
    - ansible_os_family == "RedHat"
    - not elasticstack_full_stack | bool
  tags:
    - metricbeat
    - latest
    - rpm

- name: Install Metricbeat latest version - deb
  ansible.builtin.package:
    name: metricbeat
    state: latest
  notify:
    - Restart Metricbeat
  when:
    - elasticstack_version is defined
    - elasticstack_version == "latest"
    - ansible_os_family == "Debian"
  tags:
    - metricbeat
    - latest
    - deb

- name: Configure Metricbeat
  ansible.builtin.template:
    src: metricbeat.yml.j2
    dest: /etc/metricbeat/metricbeat.yml
    owner: root
    group: root
    mode: 0644
  notify:
    - Restart Metricbeat
  tags:
    - configuration
    - beats_metricbeat_configuration
    - beats_configuration

- name: Enable modules
  ansible.builtin.command: "metricbeat modules enable {{ item }}"
  args:
    creates: "/etc/metricbeat/modules.d/{{ item }}.yml"
  with_items: "{{ beats_metricbeat_modules }}"
  when: beats_metricbeat_modules is defined
  tags:
    - metricbeat
    - metricbeat_enable_module

- name: Enable Ingest Pipelines
  ansible.builtin.command: >
    metricbeat setup &&
    metricbeat version > /etc/metricbeat/pipelines_created
  args:
    creates: "/etc/metricbeat/pipelines_created"
  notify:
    - Restart Metricbeat
  with_items: "{{ beats_metricbeat_modules }}"
  when:
    - beats_metricbeat_modules is defined
    - beats_metricbeat_output == "elasticsearch"
  tags:
    - metricbeat
    - metricbeat_ingest_pipelines

- name: Start Metricbeat
  ansible.builtin.service:
    name: metricbeat
    state: started
    enabled: true
  when: beats_metricbeat_enable | bool
  tags:
    - metricbeat
    - metricbeat_start
