server.host: "0.0.0.0"
server.publicBaseUrl: "http{% if kibana_tls | bool %}s{% endif %}://{{ elasticstack_kibana_host | default( ansible_fqdn ) }}:{{ elasticstack_kibana_port }}"

{% if elasticstack_full_stack is defined and elasticstack_full_stack | bool and elasticstack_variant == "elastic" %}
    {%- if kibana_sniff_on_start | bool %}
elasticsearch.sniffOnStart: true
    {%- endif %}
    {%- if kibana_sniff_on_connection_fault | bool +%}
elasticsearch.sniffOnConnectionFault: true
    {%- endif %}
    {%- if kibana_sniff_interval is defined +%}
elasticsearch.sniffInterval: {{ kibana_sniff_interval }}
    {%- endif %}
    {%- if kibana_security | bool +%}
elasticsearch.hosts: [{% for host in kibana_elasticsearch_hosts %}"https://{{ host }}:{{ elasticstack_elasticsearch_http_port }}"{% if not loop.last %},{% endif %}{% endfor %}]
elasticsearch.username: "kibana_system"
elasticsearch.password: "{{ kibana_password.stdout }}"
elasticsearch.ssl.certificateAuthorities:  "/etc/kibana/certs/ca.crt"
        {%- if "localhost" in kibana_elasticsearch_hosts +%}elasticsearch.ssl.verificationMode: certificate
        {%- endif +%}
xpack.security.encryptionKey: "{{ kibana_encryption_key.stdout }}"
xpack.encryptedSavedObjects.encryptionKey: "{{ kibana_savedobjects_encryption_key.stdout }}"
    {%- else +%}
elasticsearch.hosts: [{% for host in kibana_elasticsearch_hosts %}"http://{{ host }}:{{ elasticstack_elasticsearch_http_port }}"{% if not loop.last %},{% endif %}{% endfor %}]
    {%- endif %}
{% endif +%}

{% if kibana_tls | bool %}
server.ssl.enabled: true
server.ssl.certificate: "{{ kibana_tls_cert }}"
server.ssl.key: "{{ kibana_tls_key }}"
{% endif %}
