node.name: "{{ ansible_hostname }}"
path.data: {{ elasticsearch_datapath }}
path.logs: /var/log/elasticsearch
network.host: ["_local_","_site_"]
discovery.seed_hosts: [ {% for host in groups['elasticsearch']  %}
"{{ hostvars[host].ansible_default_ipv4.address }}"{% if not loop.last %},{% endif %}
{% endfor %} ]
cluster.initial_master_nodes: [ {% for host in groups['elasticsearch']  %}
"{{ hostvars[host].ansible_hostname }}"{% if not loop.last %},{% endif %}
{% endfor %} ]
{% if elastic_temperature is defined %}
node.attr.temp: "{{ elastic_temperature }}"
{% endif %}
{% if elastic_variant == "elastic" %}
xpack.ml.enabled: {{ elasticsearch_ml_enabled }}
xpack.monitoring.collection.enabled: {{ elasticsearch_monitoring_enabled }}
{% if elasticsearch_security | bool %}
xpack.security.enabled: true
xpack.security.transport.ssl.enabled: true
#xpack.security.transport.ssl.verification_mode: certificate 
xpack.security.transport.ssl.verification_mode: none 
xpack.security.transport.ssl.keystore.path: certs/{{ ansible_hostname }}.p12 
xpack.security.transport.ssl.keystore.password: {{ elasticsearch_tls_key_passphrase }}
xpack.security.transport.ssl.truststore.path: certs/{{ ansible_hostname }}.p12 
xpack.security.transport.ssl.truststore.password: {{ elasticsearch_tls_key_passphrase }}
{% if elasticsearch_http_security | bool %}
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.keystore.path: certs/{{ ansible_hostname }}.p12
xpack.security.http.ssl.keystore.password: {{ elasticsearch_tls_key_passphrase }}
xpack.security.http.ssl.truststore.path: certs/{{ ansible_hostname }}.p12
xpack.security.http.ssl.truststore.password: {{ elasticsearch_tls_key_passphrase }}
{% endif %}
{% endif %}
{% endif %}
{% if elasticsearch_fs_repo is defined %}
path:
  repo:
{% for path in elasticsearch_fs_repo %}
    - {{ path }}

{% endfor %}
{% endif %}
