instances:
{% for host in groups['elasticsearch']  %}
  - name: "{{ host }}" 
    ip: 
      - "{{ hostvars[host].ansible_default_ipv4.address | default(hostvars[host].ansible_all_ipv4_addresses[0]) }}"
    dns: 
      - "{{ hostvars[host].ansible_fqdn }}"
{% endfor %}
