{% for item in logstash_pipelines %}
{% if logstash_pipelines[item].outputkey is defined %}
input {
  redis {
    host => "localhost"
    data_type => "list"
    key => "{{ logstash_pipelines[item].outputkey }}"
  }
}
{% endif %}
{% endfor %}
