# test
{{ ansible_managed | comment }}

node.name: "{{ elasticsearch_nodename }}"
path.data: {{ elasticsearch_datapath }}
path.logs: {{ elasticsearch_logpath }}
cluster.name: "{{ elasticsearch_clustername }}"
{% if elasticsearch_network_host is defined %}
network.host: [ {{ elasticsearch_network_host }} ]
{% else %}
network.host: [ "_local_", "_site_" ]
{% endif %}
{% if elasticstack_elasticsearch_http_port is defined %}
http.port: "{{ elasticstack_elasticsearch_http_port }}"
{% endif %}
{% if elasticsearch_transport_port is defined %}
transport.port: "{{ elasticsearch_transport_port }}"
{% endif %}
{% if elasticsearch_http_publish_host is defined %}
http.publish_host: "{{ elasticsearch_http_publish_host }}"
{% endif %}
{% if elasticsearch_http_publish_port is defined %}
http.publish_port: {{ elasticsearch_http_publish_port }}
{% endif %}

{% if elasticsearch_node_types is defined %}
node.roles: [ {% for type in elasticsearch_node_types %}{{ type }}{% if not loop.last %}, {% endif %}{% endfor %} ]
{% endif %}

{% if elasticstack_release | int > 7 and groups['elasticsearch'] | length == 1 %}
discovery.type: single-node
{% endif %}

{# Quickfix to override seed_hosts. Otherwise all nodes, not only master nodes are added to seed_hosts #}
{% if elasticsearch_seed_hosts is defined %}
discovery.seed_hosts: {{ elasticsearch_seed_hosts }}
{% else %}
{% if elasticstack_release | int < 8 or groups['elasticsearch'] | length > 1 %}
discovery.seed_hosts: [ {% for host in groups['elasticsearch']  %}
"{{ hostvars[host].ansible_default_ipv4.address | default(hostvars[host].ansible_all_ipv4_addresses[0]) }}"{% if not loop.last %},{% endif %}
{% endfor %} ]
{% endif %}
{% endif %}

{% if not elaticsearch_cluster_set_up | bool and groups['elasticsearch'] | length > 1 %}
{% if elasticsearch_node_types is defined %}
cluster.initial_master_nodes: [ {% for host in groups['elasticsearch_role_master']  %}
"{{ hostvars[host]['elasticsearch_nodename'] }}"{% if not loop.last %},{% endif %}
{% endfor %} ]
{% else %}
cluster.initial_master_nodes: [ {% for host in groups['elasticsearch']  %}
"{{ hostvars[host]['elasticsearch_nodename'] }}"{% if not loop.last %},{% endif %}
{% endfor %} ]
{% endif %}
{% endif %}

{% if elasticstack_temperature is defined %}
node.attr.temp: "{{ elasticstack_temperature }}"
{% endif %}
{% if elasticsearch_disable_systemcallfilterchecks | bool and elasticstack_release == 7 %}
bootstrap.system_call_filter: false
{% endif %}
{% if elasticstack_variant == "elastic" %}
xpack.ml.enabled: {{ elasticsearch_ml_enabled }}
{% if elasticstack_release == 7 %}
xpack.monitoring.collection.enabled: {{ elasticsearch_monitoring_enabled }}
{% endif %}
{% if elasticsearch_security | bool %}
xpack.security.enabled: true
{% if elasticsearch_security_enrollment is defined %}
xpack.security.enrollment.enabled: {{ elasticsearch_security_enrollment }}
{% endif %}
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: {{ elasticsearch_ssl_verification_mode }}
xpack.security.transport.ssl.keystore.path: certs/{{ ansible_hostname }}.p12
xpack.security.transport.ssl.truststore.path: certs/{{ ansible_hostname }}.p12
{% if elasticsearch_http_security | bool %}
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.keystore.path: certs/{{ ansible_hostname }}.p12
xpack.security.http.ssl.truststore.path: certs/{{ ansible_hostname }}.p12
{% endif %}
{% endif %}
{% if not elasticsearch_security | bool %}
xpack.security.enabled: false
{% endif %}
{% endif %}

{% if elasticsearch_fs_repo is defined %}
path:
  repo:
{% for path in elasticsearch_fs_repo %}
    - {{ path }}

{% endfor %}
{% endif %}

{% if elasticsearch_extra_config is defined %}
{{ elasticsearch_extra_config | to_nice_yaml(indent=2, sort_keys=False) }}
{% endif %}
