{
{% if logstash_password_hash | bool %}
  "password_hash" : "{{ logstash_password | password_hash('blowfish', ident='2b') }}",
{% else %}
  "password" : "{{ logstash_password }}",
{% endif %}
  "roles" : [ "logstash_writer"],
  "full_name" : "Internal Logstash User"
}
