{
{% if logstash_password_hash | bool %}
{# using a fixed salt is neccessary for idempotency, will be created on elasticstack CA host #}
  "password_hash" : "{{ logstash_password | password_hash(hashtype='bcrypt', salt=lookup('password', 'elasticstack_ca_dir/logstash_hash_salt chars=ascii_letters,digits length=22') ) }}",
{% else %}
  "password" : "{{ logstash_password }}",
{% endif %}
  "roles" : [ "logstash_writer"],
  "full_name" : "Internal Logstash User"
}
