---
# defaults file for logstash
logstash_enable: true
logstash_config_backup: no
logstash_manage_yaml: true
logstash_manage_logging: false

# config items in yaml file #

logstash_config_autoreload: true
## logstash_config_autoreload_interval: 3s
logstash_config_path_data: /var/lib/logstash
logstash_config_path_logs: /var/log/logstash
## logstash_http_host: "127.0.0.1"
## logstash_http_port: 9600-9700

# pipeline configuration #
logstash_manage_pipelines: true
logstash_queue_type: persisted

# this will deactivate all pipeline management
logstash_no_pipelines: false

logstash_pipelines:
  - name: default
    exclusive: false
    queue_type: memory
    queue_max_bytes: 1gb
    input:
      - name: default
        key: input
    output:
      - name: default
        key: forwarder
#   shipper:
#     name: shipper
#     source: https://github.com/widhalmt/shipper-logstash-pipeline.git
logstash_elasticsearch_output: true
logstash_validate_after_inactivity: '300'
logstash_beats_input: true
logstash_input_queue_type: memory
logstash_input_queue_max_bytes: 1gb
logstash_forwarder_queue_type: memory
logstash_forwarder_queue_max_bytes: 1gb
logstash_sniffing: false

# logstash security
logstash_password_hash: true
logstash_user: logstash_writer
logstash_password: password
logstash_user_indices: '"ecs-logstash*", "logstash*", "logs*"'
logstash_reset_writer_role: true

logstash_tls_key_passphrase: LogstashChangeMe
logstash_certs_dir: /etc/logstash/certs
logstash_cert_validity_period: 1095
logstash_cert_expiration_buffer: 30
logstash_cert_will_expire_soon: false
logstash_legacy_monitoring: true

logstash_logging_console: true
logstash_logging_file: true
logstash_logging_slow_console: true
logstash_logging_slow_file: true

logstash_ident: true
logstash_ident_field_name: "[netways][instance]"
logstash_pipeline_identifier: true
logstash_pipeline_identifier_field_name: "[netways][pipeline]"
logstash_pipeline_identifier_defaults: false
