name: Test Role repos
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
  pull_request:
    branches:
      - 'feature/**'
      - 'fix/**'
      - '!doc/**'
    paths:
      - 'roles/repos/**'
      - '.github/workflows/test_role_repos.yml'
      - 'molecule/repos_**'

jobs:
  lint_repos:
    uses: ./.github/workflows/test_linting.yml
    with:
      rolename: repos

  molecule_repos:
    needs: lint_repos
    runs-on: ubuntu-latest

    env:
      COLLECTION_NAMESPACE: netways
      COLLECTION_NAME: elasticstack

    strategy:
      fail-fast: false
      matrix:

        distro:
          - ubuntu2204
          - ubuntu2404
          - debian12
          - rockylinux9
        scenario:
          - repos_default
          - repos_oss
        release:
          - 7
          - 8

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Python 3.8
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements-test.txt
          ansible-galaxy collection install community.general

      - name: Install collection
        run: |
          mkdir -p ~/.ansible/collections/ansible_collections/$COLLECTION_NAMESPACE
          cp -a ../ansible-collection-$COLLECTION_NAME ~/.ansible/collections/ansible_collections/$COLLECTION_NAMESPACE/$COLLECTION_NAME

      - name: Test with molecule
        run: |
          molecule test -s ${{ matrix.scenario }}
        env:
          MOLECULE_DISTRO: ${{ matrix.distro }}
          ELASTIC_RELEASE: ${{ matrix.release }}
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
